body{
    background-color: blueviolet;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #f08080;
    padding: 20 px;
    text-align: center;
}
nav{
    background-color: #ff0cbf;
    overflow: hidden;
}
nav{
    float: left;
    display:block;
    color: black;
    text-align: center;
    padding: 14px 16 px;
text-decoration: none;
}
nav a :hover {
    background-color:#f08080;
}
section{
    padding: 20px;
}
footer{
    background-color: #f08080;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}